

body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #868c58;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #83af46;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: #eaefaf;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	width: 90%;
	margin: 20px auto;
	vertical-align: top;
	text-align: left;
	min-height: 450px;
	background-color: #eaefaf;
	border-radius: 7px;
	padding:25px;
	display:flex;
	flex-direction:column;
}

.completeParkContainer{
	display:flex;
	flex-direction:row;
	height:300px;
	margin:30px;
	margin-bottom:50px;
}

.imageContainer{
	display:flex;
	margin-right:40px;
}

.detailsContainer{
	display:flex;
	flex-direction:column;
	max-width:50%;
}

div{
	font-size:20px;
}

.parkImgHP{
	height: 100%;
	width: 100%;
	border-radius: 7px;
}

.logo{
	max-width:50%;
}

.favoritePark{
	display:flex;
	flex-direction:row;
}

.imgContainerDP{
	text-align:left;
	display:flex;
	flex-direction:row;
	height:500px;
	margin:30px;
	margin-right:40px;
}

.parkImgDP{
	border-radius: 7px;
	width:35%;
	height:100%;
	margin-right:40px;
}

.parkStatistics span{
	font-size:20px;
}
.parkStatistics{
	margin-bottom:10px;
}

.parkQuote{
	font-style:italic;
	margin-bottom:10px;
}

.parkQuote span{
	font-weight:700;
}

.allWeather {
	display:flex;
	flex-direction:row;
	text-align:center;
	justify-content:center;
}

.fourDayForecast{
	display:flex;
	flex-direction:row;
	text-align:center;
	padding-top:76.91px;
}

.todaysWeather{
	display:flex;
	flex-direction:column;
	margin-right:50px;
	text-align:center;
}
.todaysWeather img{
	text-align:center;
	border: 5px black solid;
	
}

.dayInForecast{
	display:flex;
	flex-direction:column;
}
.temps .tempHigh{
	margin-right:10px;
}

.fourDayForecast img{
	border: 1px black solid;
}

label{
	margin-right:10px;
}

.question{
	margin:15px;
}

.detailsContainerFavorites{
	display:flex;
	flex-direction:column;
	max-width:50%;
	text-align:center;
	width:300px;
}

.numVotes{
	text-align:center;
	font-weight:700;
	font-size:100px;
	color:#007f00;
}

#favHeader{
	text-align:center;
	font-size:3em;
}
